## Observations and Insights

In [172]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import scipy.stats as st

# Study data files
mouse_metadata_path = "data/Mouse_metadata.csv"
study_results_path = "data/Study_results.csv"

# Read the mouse data and the study results
mouse_metadata = pd.read_csv(mouse_metadata_path)
study_results = pd.read_csv(study_results_path)

# Combine the data into a single dataset
combined_mouse_data = pd.merge(mouse_metadata, study_results, on="Mouse ID")
# Display the data table for preview
combined_mouse_data

,Mouse ID,Drug Regimen,Sex,Age_months,Weight (g),Timepoint,Tumor Volume (mm3),Metastatic Sites
0,k403,Ramicane,Male,21,16,0,45.000000,0
1,k403,Ramicane,Male,21,16,5,38.825898,0
2,k403,Ramicane,Male,21,16,10,35.014271,1
3,k403,Ramicane,Male,21,16,15,34.223992,1
4,k403,Ramicane,Male,21,16,20,32.997729,1
...,...,...,...,...,...,...,...,...
1888,z969,Naftisol,Male,9,30,25,63.145652,2
1889,z969,Naftisol,Male,9,30,30,65.841013,3
1890,z969,Naftisol,Male,9,30,35,69.176246,4
1891,z969,Naftisol,Male,9,30,40,70.314904,4
1892,z969,Naftisol,Male,9,30,45,73.867845,4

In [173]:
# Checking the number of mice.
combined_mouse_data["Mouse ID"].count()

1893

In [174]:
# Getting the duplicate mice by ID number that shows up for Mouse ID and Timepoint. 
duplicated_mouseid_timepoint = combined_mouse_data[combined_mouse_data.duplicated(subset=["Mouse ID","Timepoint"],keep=False)]
duplicated_mouseid_timepoint

,Mouse ID,Drug Regimen,Sex,Age_months,Weight (g),Timepoint,Tumor Volume (mm3),Metastatic Sites
908,g989,Propriva,Female,21,26,0,45.000000,0
909,g989,Propriva,Female,21,26,0,45.000000,0
910,g989,Propriva,Female,21,26,5,48.786801,0
911,g989,Propriva,Female,21,26,5,47.570392,0
912,g989,Propriva,Female,21,26,10,51.745156,0
913,g989,Propriva,Female,21,26,10,49.880528,0
914,g989,Propriva,Female,21,26,15,51.325852,1
915,g989,Propriva,Female,21,26,15,53.442020,0
916,g989,Propriva,Female,21,26,20,55.326122,1
917,g989,Propriva,Female,21,26,20,54.657650,1

In [175]:
# Optional: Get all the data for the duplicate mouse ID. 
duplicated_all = combined_mouse_data[combined_mouse_data.duplicated(keep=False)]
duplicated_all

,Mouse ID,Drug Regimen,Sex,Age_months,Weight (g),Timepoint,Tumor Volume (mm3),Metastatic Sites
908,g989,Propriva,Female,21,26,0,45.0,0
909,g989,Propriva,Female,21,26,0,45.0,0

In [176]:
# Create a clean DataFrame by dropping the duplicate mouse by its ID.
clean_mouse_data = combined_mouse_data.drop_duplicates(subset=["Mouse ID","Timepoint"],keep=False)
clean_mouse_data

,Mouse ID,Drug Regimen,Sex,Age_months,Weight (g),Timepoint,Tumor Volume (mm3),Metastatic Sites
0,k403,Ramicane,Male,21,16,0,45.000000,0
1,k403,Ramicane,Male,21,16,5,38.825898,0
2,k403,Ramicane,Male,21,16,10,35.014271,1
3,k403,Ramicane,Male,21,16,15,34.223992,1
4,k403,Ramicane,Male,21,16,20,32.997729,1
...,...,...,...,...,...,...,...,...
1888,z969,Naftisol,Male,9,30,25,63.145652,2
1889,z969,Naftisol,Male,9,30,30,65.841013,3
1890,z969,Naftisol,Male,9,30,35,69.176246,4
1891,z969,Naftisol,Male,9,30,40,70.314904,4
1892,z969,Naftisol,Male,9,30,45,73.867845,4

In [177]:
# Checking the number of mice in the clean DataFrame.
clean_mouse_data["Mouse ID"].count()

1883

## Summary Statistics

In [178]:
# Generate a summary statistics table of mean, median, variance, standard deviation, and SEM of the tumor volume for each regimen
clean_mouse_data["Drug Regimen"].unique()

array(['Ramicane', 'Capomulin', 'Infubinol', 'Placebo', 'Ceftamin',
       'Stelasyn', 'Zoniferol', 'Ketapril', 'Propriva', 'Naftisol'],
      dtype=object)

In [179]:
# Use groupby and summary statistical methods to calculate the following properties of each drug regimen: 
# mean, median, variance, standard deviation, and SEM of the tumor volume. 
# Assemble the resulting series into a single summary dataframe.
drug_regimen_groups = clean_mouse_data.groupby("Drug Regimen")["Tumor Volume (mm3)"]

In [180]:
tumor_volume_mean = drug_regimen_groups.mean()
tumor_volume_mean

Drug Regimen
Capomulin    40.675741
Ceftamin     52.591172
Infubinol    52.884795
Ketapril     55.235638
Naftisol     54.331565
Placebo      54.033581
Propriva     52.458254
Ramicane     40.216745
Stelasyn     54.233149
Zoniferol    53.236507
Name: Tumor Volume (mm3), dtype: float64

In [181]:
tumor_volume_median = drug_regimen_groups.median()
tumor_volume_median

Drug Regimen
Capomulin    41.557809
Ceftamin     51.776157
Infubinol    51.820584
Ketapril     53.698743
Naftisol     52.509285
Placebo      52.288934
Propriva     50.854632
Ramicane     40.673236
Stelasyn     52.431737
Zoniferol    51.818479
Name: Tumor Volume (mm3), dtype: float64

In [182]:
tumor_volume_var = drug_regimen_groups.var()
tumor_volume_var

Drug Regimen
Capomulin    24.947764
Ceftamin     39.290177
Infubinol    43.128684
Ketapril     68.553577
Naftisol     66.173479
Placebo      61.168083
Propriva     44.053659
Ramicane     23.486704
Stelasyn     59.450562
Zoniferol    48.533355
Name: Tumor Volume (mm3), dtype: float64

In [183]:
tumor_volume_std = drug_regimen_groups.std()
tumor_volume_std

Drug Regimen
Capomulin    4.994774
Ceftamin     6.268188
Infubinol    6.567243
Ketapril     8.279709
Naftisol     8.134708
Placebo      7.821003
Propriva     6.637293
Ramicane     4.846308
Stelasyn     7.710419
Zoniferol    6.966589
Name: Tumor Volume (mm3), dtype: float64

In [184]:
tumor_volume_sem = drug_regimen_groups.sem()
tumor_volume_sem

Drug Regimen
Capomulin    0.329346
Ceftamin     0.469821
Infubinol    0.492236
Ketapril     0.603860
Naftisol     0.596466
Placebo      0.581331
Propriva     0.540135
Ramicane     0.320955
Stelasyn     0.573111
Zoniferol    0.516398
Name: Tumor Volume (mm3), dtype: float64

In [185]:
tumor_volume_df = pd.DataFrame({"Mean":tumor_volume_mean,
                              "Median":tumor_volume_median,
                              "Variance":tumor_volume_var,
                              "Standard Deviation":tumor_volume_std,
                              "SEM":tumor_volume_sem})
tumor_volume_df

                   Mean     Median   Variance  Standard Deviation       SEM
Drug Regimen
Capomulin     40.675741  41.557809  24.947764            4.994774  0.329346
Ceftamin      52.591172  51.776157  39.290177            6.268188  0.469821
Infubinol     52.884795  51.820584  43.128684            6.567243  0.492236
Ketapril      55.235638  53.698743  68.553577            8.279709  0.603860
Naftisol      54.331565  52.509285  66.173479            8.134708  0.596466
Placebo       54.033581  52.288934  61.168083            7.821003  0.581331
Propriva      52.458254  50.854632  44.053659            6.637293  0.540135
Ramicane      40.216745  40.673236  23.486704            4.846308  0.320955
Stelasyn      54.233149  52.431737  59.450562            7.710419  0.573111
Zoniferol     53.236507  51.818479  48.533355            6.966589  0.516398

In [186]:
# Generate a summary statistics table of mean, median, variance, standard deviation, and SEM of the tumor volume for each regimen
Capomulin_data = tumor_volume_df.iloc[0, :]
Capomulin_data

Mean                  40.675741
Median                41.557809
Variance              24.947764
Standard Deviation     4.994774
SEM                    0.329346
Name: Capomulin, dtype: float64

In [187]:
Ceftamin_data = tumor_volume_df.iloc[1, :]
Ceftamin_data

Mean                  52.591172
Median                51.776157
Variance              39.290177
Standard Deviation     6.268188
SEM                    0.469821
Name: Ceftamin, dtype: float64

In [188]:
Infubinol_data = tumor_volume_df.iloc[2, :]
Infubinol_data

Mean                  52.884795
Median                51.820584
Variance              43.128684
Standard Deviation     6.567243
SEM                    0.492236
Name: Infubinol, dtype: float64

In [189]:
Ketapril_data = tumor_volume_df.iloc[3, :]
Ketapril_data

Mean                  55.235638
Median                53.698743
Variance              68.553577
Standard Deviation     8.279709
SEM                    0.603860
Name: Ketapril, dtype: float64

In [190]:
Naftisol_data = tumor_volume_df.iloc[4, :]
Naftisol_data

Mean                  54.331565
Median                52.509285
Variance              66.173479
Standard Deviation     8.134708
SEM                    0.596466
Name: Naftisol, dtype: float64

In [191]:
Placebo_data = tumor_volume_df.iloc[5, :]
Placebo_data

Mean                  54.033581
Median                52.288934
Variance              61.168083
Standard Deviation     7.821003
SEM                    0.581331
Name: Placebo, dtype: float64

In [192]:
Propriva_data = tumor_volume_df.iloc[6, :]
Propriva_data

Mean                  52.458254
Median                50.854632
Variance              44.053659
Standard Deviation     6.637293
SEM                    0.540135
Name: Propriva, dtype: float64

In [193]:
Ramicane_data = tumor_volume_df.iloc[7, :]
Ramicane_data

Mean                  40.216745
Median                40.673236
Variance              23.486704
Standard Deviation     4.846308
SEM                    0.320955
Name: Ramicane, dtype: float64

In [194]:
Stelasyn_data = tumor_volume_df.iloc[8, :]
Stelasyn_data

Mean                  54.233149
Median                52.431737
Variance              59.450562
Standard Deviation     7.710419
SEM                    0.573111
Name: Stelasyn, dtype: float64

In [195]:
Zoniferol_data = tumor_volume_df.iloc[9, :]
Zoniferol_data

Mean                  53.236507
Median                51.818479
Variance              48.533355
Standard Deviation     6.966589
SEM                    0.516398
Name: Zoniferol, dtype: float64

In [196]:
# Using the aggregation method, produce the same summary statistics in a single line
drug_regimen_groups_stats = drug_regimen_groups.aggregate([np.mean, np.median, np.var, np.std, st.sem])
drug_regimen_groups_stats

                   mean     median        var       std       sem
Drug Regimen
Capomulin     40.675741  41.557809  24.947764  4.994774  0.329346
Ceftamin      52.591172  51.776157  39.290177  6.268188  0.469821
Infubinol     52.884795  51.820584  43.128684  6.567243  0.492236
Ketapril      55.235638  53.698743  68.553577  8.279709  0.603860
Naftisol      54.331565  52.509285  66.173479  8.134708  0.596466
Placebo       54.033581  52.288934  61.168083  7.821003  0.581331
Propriva      52.458254  50.854632  44.053659  6.637293  0.540135
Ramicane      40.216745  40.673236  23.486704  4.846308  0.320955
Stelasyn      54.233149  52.431737  59.450562  7.710419  0.573111
Zoniferol     53.236507  51.818479  48.533355  6.966589  0.516398

## Bar and Pie Charts

In [9]:
# Generate a bar plot showing the total number of unique mice tested on each drug regimen using pandas.

In [10]:
# Generate a bar plot showing the total number of unique mice tested on each drug regimen using pyplot.

In [11]:
# Generate a pie plot showing the distribution of female versus male mice using pandas

In [12]:
# Generate a pie plot showing the distribution of female versus male mice using pyplot

## Quartiles, Outliers and Boxplots

In [13]:
# Calculate the final tumor volume of each mouse across four of the treatment regimens:  
# Capomulin, Ramicane, Infubinol, and Ceftamin

# Start by getting the last (greatest) timepoint for each mouse


# Merge this group df with the original dataframe to get the tumor volume at the last timepoint

In [14]:
# Put treatments into a list for for loop (and later for plot labels)


# Create empty list to fill with tumor vol data (for plotting)


# Calculate the IQR and quantitatively determine if there are any potential outliers. 

    
    # Locate the rows which contain mice on each drug and get the tumor volumes
    
    
    # add subset 
    
    
    # Determine outliers using upper and lower bounds

In [15]:
# Generate a box plot of the final tumor volume of each mouse across four regimens of interest

## Line and Scatter Plots

In [16]:
# Generate a line plot of tumor volume vs. time point for a mouse treated with Capomulin

In [17]:
# Generate a scatter plot of average tumor volume vs. mouse weight for the Capomulin regimen

## Correlation and Regression

In [18]:
# Calculate the correlation coefficient and linear regression model 
# for mouse weight and average tumor volume for the Capomulin regimen